body{
    background-color: #000000;
    color: #ffffff;
}

.container{
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.container .main-content{
    width: 100%;
    min-height: 100vh;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand-header{
    margin: 20px 0;
}

.brand-header .container-logo{
    margin-bottom: 30px;
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.robot-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    animation: float 3s ease-in-out infinite;
}

.container-logo h1{
    color: #f20612;
    font-size: 48px;
    font-weight: 700;
}


.brand-subtitle{
    font-size: 20px;
    line-height: 1.6;
    text-align:center;
}


.search-card{
    width: 100%;
    max-width: 600px;
    padding: 32px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.search-content{
   display: flex;
   flex-direction: column;
   gap: 24px;
}

/* .input-container{
    background-color: blue;
    
} */

.mood-textarea{
    width: 100%;
    padding: 16px 64px 16px 16px;
    background-color: rgba(255,255,255, 0.05);
    color: #ffffff;
    font-size: 16px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 8px;
    resize: none;
    transition: all 0.2s ease; 

}

.mood-textarea:focus{
    outline: none;
    border-color: #e50914;
    box-shadow: 0 0 3px rgba(229, 9, 20, 0.1);
    background-color: rgba(255,255,255, 0.1);
}

.examples{
    color: #d0d0d0;
    font-size: 14px;
    text-align: left;

}

.examples-title{
    margin-bottom: 8px;
    font-weight: 500;
}


.examples-list{
    display: flex;
    flex-direction:column;
    gap: 4px;
    font-size: 12px;
    margin-left: 15px;
    opacity: 0.8;
}

.search-button{
    background-color: #e50914;
    width: 100%;
    padding: 16px 32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;

}

.search-button:hover{
    background-color: #f40612;
    box-shadow: 0 4px 8px rgba(229, 9, 20, 0.4);
}

.results{
    display:none;
}